<div class="navbar">

    <ul class="ul">
      <a href="/"><li class="li" >Home</li></a>  
       <a href="/about"><li class="li">About</li></a> 
        <a href="/Contact"><li class="li">Contact</li></a>
    </ul>
</div>